name: Backport fixes to stable branch

on:
  pull_request_target:
    types: [closed]
  issue_comment:
    types: [created]

permissions:
  contents: write
  pull-requests: write

jobs:
  backport:
    if: >
      (
        github.event_name == 'pull_request_target' && 
        github.event.pull_request.merged        
      ) || (
        github.event_name == 'issue_comment' && 
        github.event.issue.pull_request && 
        startsWith(github.event.comment.body, '/backport')
      )

    uses: openwisp/openwisp-utils/.github/workflows/resuable-backport.yml@master
    with:
      source_pr_number: ${{ github.event.pull_request.number || github.event.issue.number }}
