name: Backport

on:
  workflow_call:
    inputs:
      source_pr_number:
        description: "The PR number to backport"
        required: true
        type: number

jobs:
  backport:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Create backport pull requests
        uses: korthout/backport-action@v4
        with:
          source_pr_number: ${{ inputs.source_pr_number }}
